body,html{
    height: 100%;
    background: url("../img/background.jpg")no-repeat center fixed ;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Oxygen', sans-serif;


}



.main{
    margin-top: 70px;

}


hr{
    width: 80%;
    color: #fff;
}

.form-group{
    margin-bottom: 15px;

}

label{
    margin-bottom: 15px;
}

input,
input::-webkit-input-placeholder {
    font-size: 12px;
    padding-top: 3px;
}

.main-login{
    background: rgba(48, 46, 45, 1);
    border: 1px solid black;

    color:#7e8c8d;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 5px;
    border-color:#d2d2d2;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);

}

.main-center{
    margin-top: 30px;
    margin: 0 auto;
    max-width: 330px;
    padding: 40px 40px;
    color : white;

}


.login-button{
    margin-top: 8px;
    border-radius: 5px;
    background:#ff5252;
    border-color: rgba(48, 46, 45, 1);
    color: white;
    width: 100%;
    padding: 10px 30px;

}

.regiter-recruiter,.regiter-student {

    border-radius: 5px;
    background:#ff5252;
    border-color: rgba(48, 46, 45, 1);
    color: white;
    width: 70%;
    padding: 10px 10px;
    text-align:center;
    margin-top: 30px;


}

